@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*

Typography is the way that text
 is arranged and presented

 */

 body {
  padding: 10%;
  font-size: 2rem;
  font-family:'Roboto', sans-serif ;
 }

 ol {
  list-style-type: lower-alpha;
  padding: 0;
 }

 ul {
  list-style-type: disc;
  list-style-position: outside;
  text-align: center;
  color:blue;
  line-height: 1.6;
 }

 ul li:nth-child(even) {
  color:red;
 }

 ul ::marker {
  color:red;
  font-family: fantasy;
  font-size: 1em;
  content: "only $5 >>";
 }

/*  input, button {
  font: inherit;
 } */

a {
  color:hsl(207, 44%, 49%);
}

a:visited {
  color: hsl(207, 44%, 49%);      
}

a:hover, a:focus {
  color: hsl(189, 44%, 49%, 0.5);
  background: gold;
}

a:active {
    color:red;
}